@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Regular.eot');
    src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Regular.woff2') format('woff2'),
    url('../fonts/Circe-Regular.woff') format('woff'),
    url('../fonts/Circe-Regular.ttf') format('truetype'),
    url('../fonts/Circe-Regular.svg#Circe-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilam-SemiBold';
    src: url('../fonts/Gilam-SemiBold.eot');
    src: url('../fonts/Gilam-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilam-SemiBold.woff2') format('woff2'),
    url('../fonts/Gilam-SemiBold.woff') format('woff'),
    url('../fonts/Gilam-SemiBold.ttf') format('truetype'),
    url('../fonts/Gilam-SemiBold.svg#Gilam-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilam-Bold';
    src: url('../fonts/Gilam-Bold.eot');
    src: url('../fonts/Gilam-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilam-Bold.woff2') format('woff2'),
    url('../fonts/Gilam-Bold.woff') format('woff'),
    url('../fonts/Gilam-Bold.ttf') format('truetype'),
    url('../fonts/Gilam-Bold.svg#Gilam-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilam-Regular';
    src: url('../fonts/Gilam-Regular.eot');
    src: url('../fonts/Gilam-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilam-Regular.woff2') format('woff2'),
    url('../fonts/Gilam-Regular.woff') format('woff'),
    url('../fonts/Gilam-Regular.ttf') format('truetype'),
    url('../fonts/Gilam-Regular.svg#Gilam-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    background: #171717;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1460px;
    margin: 0 auto;
}

.header {
    margin: 37px 0 120px;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper__btn,
.main__project__btn {
    border: 1px solid #E4B564;
    padding: 17px 25px 17px 50px;
}

.header__wrapper__btn__link,
.main__project__btn__link {
    color: #E4B564;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    position: relative;
    align-items: center;
    font-family: 'Circe', sans-serif;
}

.header__wrapper__btn__link:before {
    content: '';
    display: block;
    background: url("../icon/Vector.svg") no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    left: -25px;
}
.main__services,
.main__tools {
    margin-bottom: 161px;
}

.main__services__description {
    margin-bottom: 40px;
}

.main__services__description__title,
.main__tools__description__title,
.main__project__description__title {
    font-family: 'Gilam-Bold', sans-serif;
    color: #FFFFFF;
    font-size: 50px;
    line-height: 28px;
    margin-bottom: 40px;
}

.main__services__description__text {
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    font-family: 'Gilam-Bold', sans-serif;
}

.main__services__description {
    max-width: 1182px;
}

.main__services__blc,
.main__tools__blc {
    display: grid;
    grid-gap: 26px 37px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 150px);
    justify-content: left;
}

.main__services__blc_item,
.main__tools__blc_item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    padding: 0 43px;
    text-align: center;
    font-family: 'Gilam-Bold', sans-serif;
}

.item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    background: #634F2C;
}
.item-2 {
    grid-column: 3 / 5;
    grid-row: 1 / 4;
    background: #B4A385;
}
.item-3 {
    grid-column: 5 / 7;
    grid-row: 1 / 4;
    background: #E4B564;
}
.item-4 {
    grid-column: 4 / 1;
    grid-row: 4 / 7;
    background: #635A4A;
}
.item-5 {
    grid-column: 4 / -1;
    grid-row: 4 / 7;
    background: #B08C4D;
}
.main__tools__blc_item {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 44px 52px;
}
.main__tools__blc_item.item-1 {
    grid-row: 1 / 3;
    background: #0E0E0E;
}
.main__tools__blc_item.item-2 {
    background: #242424;
}
.main__tools__blc_item.item-3 {
    grid-row: 1 / 3;
    background: #1F1F1F;
}
.main__tools__blc_item.item-4 {
    grid-column: -7 / -5;
    grid-row: 3 / 7;
    background: #1F1F1F;
}
.main__tools__blc_item.item-5 {
    grid-column: -5 / -3;
    background: #E4B564;
}
.main__tools__blc_item.item-6 {
    background: #0E0E0E;
    grid-column: 5 / 7;
    grid-row: -3 / -5;
}
.main__tools__blc_item.item-7 {
    background: #0A0909;
    grid-column: 5 / 7;
    grid-row: -3 / 7;
}
.main__tools__description,
.main__project__description {
    margin-bottom: 90px;
}

.main__tools__blc_item {
    flex-direction: column;
}

.main__project {
    background: #0E0E0E;
    padding-top: 170px;
    margin-bottom: 238px;
}

.main__project__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__project__description__title {
    margin-bottom: 0;
}

.main__project__btn {
    padding: 17px 25px;
}

.main__project__blc {
    display: flex;
    flex-wrap: wrap;
}
.main__project__blc__item {
    width: 486px;
    height: 391px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__project__blc__item-1 {
    background: #634F2C;
}
.main__project__blc__item-2 {
    background: rgba(232, 210, 171, 0.76);
    flex-direction: column;
    padding: 61px 80px;
}
.main__project__blc__item-3 {
    background: #E4B564;
}
.main__project__blc__item-4 {
    background: #635A4A;
}
.main__project__blc__item-5 {
    background: #B08C4D;
}
.main__project__blc__item-6 {
    background: #634F2C;
}

.main__project__blc__item__description {
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Gilam-SemiBold', sans-serif;
    margin-top: 16px;
}
.main__project__blc__item__description span {
    display: block;
    font-family: 'Gilam-Regular', sans-serif;
}